.back-button {
    width: 3em;
    height: 3em;
    margin: 3em;
    display: flex;
    border-radius: 1em;
    background-color: #f0f0f0;
}


.artwork-container {
    display: flex;
    margin: 3em;
    margin-left: 15em;
    width: 75%;
    height: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 5em;
}

.info-container {
    margin: 1em;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.artwork {
    border-radius: 5em;
    width: 50%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3em;
}