<div class="header">
  <img class="logo" src="../../assets/Art Website Logo - 1.png" />
  <div class="nav">
    <div class="">
      <div class="">
        <a mat-fab extended routerLink="/" > Home </a>
      </div>
    </div>
  </div>

  <div class="nav">
    <a mat-fab extended routerLink="/explore" routerLinkActive="active">
      Explore
    </a>
  </div>

  <input
    type="text"
    [(ngModel)]="searchQuery"
    placeholder="Search..."
    class="search-input"
    (change)="search()"
  />
</div>

