<div class="header">
  <img class="logo" src="../../assets/Art Website Logo - 1.png" />

  <div class="nav">
    <a mat-fab extended routerLink="/"> Home </a>
  </div>

  <div class="nav">
    <a mat-fab routerLink="/about"> About </a>
  </div>

  <!-- <div class="nav">
    <a mat-fab routerLink="/explore"> Explore </a>
  </div> -->

  <div class="search-container">
    <mat-icon class="search-icon">search</mat-icon>
    <input
      type="text"
      [(ngModel)]="searchQuery"
      placeholder="Search"
      class="search-input"
      (change)="onSearch()"
    />
    <!-- // TODO TIFF: close button is clicked it needs to empty the search string  -->
    <mat-icon class="close-icon">close</mat-icon>
  </div>
</div>
