<app-header (searchEvent)="onSearch($event)"></app-header>
<h2>MasterCopy</h2>

<div class="wrapper">
  <img
    src="../../assets/Screenshot 2024-10-02 at 12.41.54 PM.png"
    class="image"
  />

   <p>
      MasterCopy is a work of love created by Tiffany Messer a self taught
      artist and software engineer. She has been dedicated to her art practice
      since the pandemic and patient about expanding her artist voice through
      the use of creating master copies of other artist work. After many months
      of struggling to find good reference photos online, she discovered that
      Chicago Institute of Art provides and open source API. MasterCopy is a
      Pinterest clode using CIA’s api. MasterCopy is currently in its infancy.
      If you art interested in the project please reach out to Tiffany and let
      her know. She has a lot of ideas about ways to improve the website, and
      would love to hear how the site works for others.
    </p>
</div>
