.wrapper {
  display: flex;
  flex-direction: column;
}

.image {
  border-radius: 5em;
  width: 35em;
  height: 35em;
}

.no-borders {
    width: 100%;
    padding: 0; 
    margin: 0;
  }

.large-image {
    width: 100%;
    height: auto;
    display: block;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5em;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3em;
  width: 48%;
}

.text {
  margin-left: 6em;
  margin-right: 10em;
  margin-top: 6em;
  width: 30em;
}

.three {
  height: 100%;
  width: 100%;
}


.large-text {
  font-size: 48px;
  line-height: 80%;
  font-weight: bold;
  margin-bottom: 1em;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 2em auto;
  padding: 2em;
}

.contact-form mat-form-field {
  width: 100%;
  margin-bottom: 1em;
}

.contact-form button {
  width: 20%;
  padding: 1em;
  font-size: 16px;
  border-radius: 5em;
}

