.wrapper {
    display: flex;
    flex-direction: column;
    margin: 3em;
    width: 80%;
}

.image {
    width: 48%;
    height: 50%;
    border-radius: 5em;
}

.large-image {
    width: 100%;
    height: 100%;
    border-radius: 5em;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3em;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3em;
    width: 48%;
}

.text {
    margin-left: 1em;
    
}

.three .two{
    length: 100%;
    width: 100%;
}

